@use "@/styles/_variables.module.scss";
@use "@/styles/_breakpoints.module.scss";

.section{
    // width: 500px;
    height: 80%;
    border-radius: .5rem;
    padding:1rem;
    // color:black;
    background: variables.$browse_background_blue;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    flex-direction: column;
    flex: 1 1 300px;
    
    @include breakpoints.phone(){
        flex:unset;
    }
}