@use "/src/styles/breakpoints.module";
@use "/src/styles/variables.module";

.wrapper{
    padding:10px;
    // width: 100%;
}

.board{
    width: 100%;
    height: 100%;

    background: variables.$board_color;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    
    @include breakpoints.phone{
        margin:0;
        scale: .95;
    }
}