@use "/src/styles/breakpoints.module";
@use "/src/styles/variables.module";

.section{
    width: 100%;
    margin:10px;

    background: variables.$board_color;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    
    @include breakpoints.phone{
        margin:0;
        scale: .95;
    }
}