@use "_variables.module.scss";
@use "_breakpoints.module.scss";
.section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap:20px;

    background: variables.$container_background;
    height: fit-content;
    width: 500px;
    
    padding:50px;
    border-radius: 10px;
    border: 1px solid variables.$border_background;

    @include breakpoints.phone(){
        width: 95%;
    }

    h1{
        font-size: 40px;
    }

    .logInSignIn{
        color:hsl(242, 98%, 55%);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

.divider{
    width: 100%;
    height: 1px;
    background: variables.$divider_background;
}

.inputCredentials{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    gap:15px;
    
    text-transform: capitalize;
    button{
        width: 100%;
        padding:20px;
        border-radius: 10px;

        background: variables.$blue;
        cursor: pointer;
    }

    input{
        width: 100%;
        height: 72px;
        border-radius: 10px;
        background: variables.$border_background;
    }
}

.Icon{
    width: 38px;
    height: 42px;
}

.signUpWithGoogle,.signUpWithPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: variables.$border_background;
    border-radius: 10px;

    width: 100%;
    
    cursor:pointer;
}