@use "/src/styles/breakpoints.module";

.section{

    // flex: 0 0 100px;
    border-radius: 50%;
    background: hsl(0, 0%, 100%);

    width: clamp(48px, 7vw, 100px);
    aspect-ratio: 1;



    @include breakpoints.phone{
        
    }

    @include breakpoints.tablet{

    }

    
}

.red{
    background: hsl(0, 100%, 50%);
}

.yellow{
    background: hsl(70, 100%, 50%);
}