body, #__next, html, :root{
    height: 100%;
    width: 100%;
    margin:0;
  }
  body{
    overflow-x: hidden;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  *{
    box-sizing: border-box;
  }