@use "/src/styles/_variables.module.scss";

.section{

    width: 100%;
    height: 100%;

    padding:10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: variables.$button_corner;
    background: variables.$button_background;


    .container{

        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: variables.$button_corner;
        background: variables.$button_background;

        box-shadow: variables.$button_shadow;

    }
}